

h1{
    color:rgb(102, 102, 192);
}
body
{
    background-color:blanchedalmond
}
.footer{
    background-color:steelblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  
  }
  input[type=text] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
   submit{
      background-color: green;
  }
  .username{
      color:blue;
  }
  .mail{
      padding-bottom: 2rem;
  }
  .down{
      padding-bottom: 4rem;
  }
  .user{
      color: blue
  }
  